body {
    color: black;
}

#resp {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black; 
    padding : 3px 110px;
}

#con {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin : 10px;
}

#con button {
    margin: 5px;
    background-color: palevioletred;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background-color 0.25s;
    cursor: pointer;
}

#con button:hover {
    background-color: purple;
}
